CVRP_ACO/obj/project.nuget.cache
CVRP_ACO/obj/CVRP_ACO.csproj.nuget.dgspec.json
CVRP_ACO/obj/project.assets.json
CVRP_ACO/obj/project.nuget.cache
CVRP_ACO/obj/Debug/net7.0/apphost
CVRP_ACO/obj/Debug/net7.0/CVRP_ACO.AssemblyInfo.cs
CVRP_ACO/obj/Debug/net7.0/CVRP_ACO.AssemblyInfoInputs.cache
CVRP_ACO/obj/Debug/net7.0/CVRP_ACO.assets.cache
